[Desktop Entry]
Name=Modland Player
GenericName=Player for Modland.com collection of Protracker modules
Exec=/opt/hrw/modland-player/modland-player
Icon=modland-player
Terminal=false
Type=Application
Categories=AudioVideo;
